<h2>Add a New Herb</h2>

<%= form_with model: @herb do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br />
  <br />
  <%= form.label :watered %>
  <%= form.text_field :watered %>
  <br />
  <br />
  <%= form.submit "Add Herb" %>
<% end %>

<br />
<p>Back to <%= link_to 'all the herbs', herbs_path %></p>
